@import '../node_modules/ngx-toastr/toastr.css';

@font-face {
    font-family: 'Poppins';
    src: url(assets/font/Poppins/Poppins-Regular.ttf) format('truetype');
}

body {
  font-family: 'Poppins';
  margin: 0px;
}
