<div class="container">
    <div class="box">
        <button>ABRIR TICKET</button>
    </div>
    <div class="box">
        <p>Consulte aqui seus tickets</p>
        <div>
           <form>
               <div>
                   <input type="text" required placeholder="  Digite aqui seu CPF" />
               </div>
               <div>
                   <button type="submit">BUSCAR</button>
               </div>
           </form>
        </div>
        <div>
            <p>Você ainda não abriu nenhum ticket!</p>
        </div>
    </div>
</div>
