.container {
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: row;
}

.box:nth-of-type(1) {
  width: 57%;
  background-color: #5C6373;
}

.box:nth-of-type(2) {
  width: 43%;
  background-color: #2C3140;
}
