.container { /* Container - agrupa os dois box */
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: row;
}

.box:nth-of-type(1) { /* Box da esquerda */
  width: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5C6373;
}

  .box:nth-of-type(1) button { /* Primeiro elemento - tag <button> - Box da esquerda */
    width: 325px;
    height: 145px;
    font-size: 1.7rem;
    font-weight: 600;
    border: 0;
    border-radius: 15px;
    color: #D9D9D9;
    background-color: #2C3140;
  }

.box:nth-of-type(2) { /* Box da direita */
  width: 43%;
  background-color: #2C3140;
}

  .box:nth-of-type(2) p:nth-last-child(3) { /* Primeiro elemento - tag <p> - Box da esquerda */
    text-align: center;
    font-size: 1.7rem;
    color: #D9D9D9;
  }

  .box:nth-of-type(2) div:nth-child(2) form { /* Segundo elemento - tag <form> - Box da esquerda */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .box:nth-of-type(2) input { /* tag <input> - dentro da tag <form> - Box da esquerda */
    width: 296px;
    height: 50px;
    font-size: 1rem;
    padding-left: 20px;
    margin-right: 50px;
    border: 0;
    border-radius: 8px;
    color: #5C6373;
    background-color: #D9D9D9;
  }

  .box:nth-of-type(2) button { /* tag <button> - dentro da tag <form> - Box da esquerda */
    width: 300px;
    height: 52px;
    font-size: 1.3rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    background-color: #5C6373;
    color: #D9D9D9;
  }

  .box:nth-of-type(2) p:nth-last-child(1) { /* Terceiro elemento - tag <p> - Box da esquerda */
    margin-top: 30vh;
    text-align: center;
    font-size: 1.2rem;
    color: #D9D9D9;
  }
