@model ResolveJa.Application.Mvc.ViewModels.TicketAtribuirMvcViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Ticket.IdFuncionario" class="control-label"></label>
                <select asp-for="Ticket.IdFuncionario" class="form-control" asp-items="@(new SelectList(Model.Funcionarios, "Id", "Nome"))"></select>
                <span asp-validation-for="Ticket.IdFuncionario" class="text-danger"></span>
            </div>
            

            <input type="hidden" asp-for="Ticket.Id" />
            <input type="hidden" asp-for="Ticket.Titulo" />
            <input type="hidden" asp-for="Ticket.Cpf" />
            <input type="hidden" asp-for="Ticket.Email" />
            <input type="hidden" asp-for="Ticket.Status" />
            <input type="hidden" asp-for="Ticket.Conteudo" />
            <input type="hidden" asp-for="Ticket.Resposta" />
            <input type="hidden" asp-for="Ticket.DataCriacao" />
            <input type="hidden" asp-for="Ticket.Empresa" />
            <input type="hidden" asp-for="Ticket.IdEmpresa" />
            <input type="hidden" asp-for="Ticket.IdFuncionario" />
            <hr/>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">RETORNAR</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
