@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>
<br />
<span>Número de tickets em aberto: </span>
<span style="font-weight: bold">@ViewData["TicketsAberto"]</span>
<hr />
<span>Número de tickets concluídos: </span>
<span style="font-weight: bold">@ViewData["TicketsFechado"]</span>
<hr />
<span>Funcionário com mais tickets atribuídos: </span>
<span style="font-weight: bold"></span>
<hr />
<span>Funcionário com mais tickets concluídos: </span>
<span style="font-weight: bold"></span>

<style>
    span {
        font-size: 18px;
    }
</style>