@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>

<p>Número de tickets em aberto: </p>
<span></span>

<p>Número de tickets concluídos: </p>
<span></span>

<p>Funcionário com mais tickets atribuídos: </p>
<span></span>

<p>Funcionário com mais tickets concluídos: </p>
<span></span>